<!DOCTYPE html>
<html>
<head>
  <title>Sandi Chart</title>
  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/morris.css">
  <link rel="stylesheet" href="assets/style.css">
  <script src="assets/jquery.js"></script>
  <script src="assets/chart.js"></script>
  <script src="assets/script.js"></script>
  <script type="text/javascript">
    var data = <% plot_data %>;
  </script>
</head>
<body>
  <a href="https://github.com/makaroni4/sandi_meter"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
  <div class="container">
    <header>
      <h1 class="main-title">Sandi Metz rules</h1>
      <h2 class="main-description js-report-date"></h2>
      <a href="#report" class="toggle_report current_tab" data-tab_class=".plot-charts">Charts</a>
      <a href="#details" class="toggle_report" data-tab_class=".details">Details</a>
    </header>
    <section class="pie-charts">
      <div id="pie1" class="pie-charts-item"></div>
      <div id="pie2" class="pie-charts-item"></div>
      <div id="pie3" class="pie-charts-item"></div>
      <div id="pie4" class="pie-charts-item"></div>
      <div class="clearfix"></div>
    </section>
    <section class="plot-charts">
      <div class="plot-charts-item">
        <div class="plot-charts-item-caption">Number of 100 line classes vs time</div>
        <div class="plot-charts-item-graph" id="plot1"></div>
      </div>
      <div class="plot-charts-item">
        <div class="plot-charts-item-caption">Number of 5 line methods vs time</div>
        <div class="plot-charts-item-graph" id="plot2"></div>
      </div>
      <div class="clearfix"></div>
      <div class="plot-charts-item">
        <div class="plot-charts-item-caption">Number of methods calls with 4 params vs time</div>
        <div class="plot-charts-item-graph" id="plot3"></div>
      </div>
      <div class="plot-charts-item">
        <div class="plot-charts-item-caption">Number of controllers with 1 instance variable vs time</div>
        <div class="plot-charts-item-graph" id="plot4"></div>
      </div>
      <div class="clearfix"></div>
    </section>
    <section class="details">
      <% details %>
    </section>
    <footer class="main-footer">
      Scanned with love by <a href="https://github.com/makaroni4/sandi_meter">sandi_meter</a> gem.
      Please, <a href="https://github.com/makaroni4/sandi_meter/issues/new">leave an issue</a> or
      <a href="mailto:makaroni4@gmail.com">email</a> some feedback!
    </footer>
  </div>
</body>
</html>
