body {
  font-family: "Gill Sans", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.main-title {
  font-size: 38px;
  text-align: center;
}

.main-description {
  font-size: 23px;
  text-align: center;
}

.main-footer {
  text-align: center;
  padding: 20px 0 30px;
}

.main-footer a {
  color: rgb(65, 131, 196);
}

.pie-charts-item {
  float: left;
  width: 25%;
}

.plot-charts-item {
  width: 470px;
  height: 298px;
  float: left;
  margin-bottom: 40px;
}

.plot-charts-item-caption {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.plot-charts-item-graph {
  width: 470px;
  height: 280px;
}

.progress {
  text-align: center;
}

.progress .plot-charts-item {
  float: none;
  margin: 0 auto;
}

.toggle_report.current_tab {
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.details {
  display: none;
}

.details h2 {
  margin: 0 0 14px;
}

.details-stats {
  font-family: monospace;
  margin-bottom: 40px;
}

.details-stats td {
  padding-right: 20px;
  line-height: 18px;
}

.details-stats td.warning {
  color: red;
}

.main-menu {
  margin-bottom: 30px;
}

.main-menu {
  text-align: center;
}

.main-menu a {
  display: inline-block;
  padding: 4px 16px;
  margin-left: -5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(158, 158, 158);
}

.main-menu a:hover {
  color: rgb(65, 131, 196);;
}

.main-menu a:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.main-menu a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main-menu-active {
  background: rgb(240, 240, 240);
}

.main-menu .main-menu-active:hover {
  color: black;
}

.hint {
  margin: -40px 0 40px 0;
  font-family: monospace;
  font-style: italic;
  font-weight: normal;
}
